
app/src/main/res/drawable/backward10sec.png

app/src/main/res/drawable/clothes.png

app/src/main/res/drawable/dating.png

app/src/main/res/drawable/divorce.png

app/src/main/res/drawable/forward10sec.png

app/src/main/res/drawable/health.png

app/src/main/res/drawable/icon.png

app/src/main/res/drawable/married.png

app/src/main/res/drawable/pause.png

app/src/main/res/drawable/play.png

app/src/main/res/drawable/school.png

app/src/main/res/drawable/travel.png

app/src/main/res/drawable/work.png

app/src/main/res/mipmap-hdpi/ic_launcher.png

app/src/main/res/mipmap-mdpi/ic_launcher.png

app/src/main/res/mipmap-xhdpi/ic_launcher.png

app/src/main/res/mipmap-xxhdpi/ic_launcher.png

app/src/main/res/mipmap-xxxhdpi/ic_launcher.png

app/src/main/res/raw/clothes_text.srt

app/src/main/res/raw/clothes.mp3

app/src/main/res/raw/dating_text.srt

app/src/main/res/raw/dating.mp3

app/src/main/res/raw/divorce_text.srt

app/src/main/res/raw/divorce.mp3

app/src/main/res/raw/health_text.srt

app/src/main/res/raw/health.mp3

app/src/main/res/raw/married_text.srt

app/src/main/res/raw/married.mp3

app/src/main/res/raw/school_text.srt

app/src/main/res/raw/school.mp3

app/src/main/res/raw/travel_text.srt

app/src/main/res/raw/travel.mp3

app/src/main/res/raw/work_text.srt

app/src/main/res/raw/work.mp3
